@media screen and (max-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
  /*********************************/
  /* NAVIGATION*/
  /*********************************/
  header img {
    width: 50%;
  }
  .navbar__container {
    height: 9.5rem;
  }
  .navbar__item {
    height: 9.5rem;
  }
  /*********************************/
  /* Index*/
  /*********************************/

  .link_Booking {
    position: relative;
    left: 5rem;
  }
  .grid__2__cols__content p {
    margin: 0 0 3rem 0;
    font-size: 1.8rem;
  }

  /*********************************/
  /* Réservation*/
  /*********************************/
  form {
    font-size: 2.2rem;
  }
  input,
  select {
    font-size: 1.7rem;
  }
  fieldset legend {
    font-size: 2.6rem;
  }
  .form_info_client,
  .form_info_facultatif {
    width: 97%;
  }
  /*********************************/
  /* Commande*/
  /*********************************/
  .flexCommande {
    display: block;
  }
  table {
    width: 85%;
  }

  .detail {
    width: 50%;
    margin: 0 0 5rem 0;
  }
  .Table_Entrees,
  .Table_Plat {
    margin: 0 0 7rem 0;
  }
  .Table_Autre {
    margin: 0 0 3rem 0;
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size: 1.5rem;
  }

  /*********************************/
  /* NAVIGATION*/
  /*********************************/
  .navbar__item {
    height: 5rem;
  }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    z-index: 1;
    width: 100%;
    max-width: 130rem;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -100rem;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #fff;
    gap: 0;
  }

  .navbar__menu.active {
    background: rgba(255, 255, 255, 0.9);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 2.5rem;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__links:link,
  .navbar__links:visited {
    color: #000;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__links:hover,
  .navbar__links:active {
    transition: all 0.3 ease;
    text-decoration: none;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 5rem;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*********************************/
  /* Index*/
  /*********************************/
  .index_section1 {
    margin: 5rem 0 5rem 0;
  }
  .index_section2 {
    margin: 0 0 5rem 0;
  }
  .grid__2__cols__content__link {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .link_Booking {
    position: relative;
    left: 0;
  }
  .grid__2__cols__content h2 {
    font-size: 4.5rem;
  }
  .grid__2__cols__content p {
    font-size: 1.7rem;
  }

  /*********************************/
  /* Réservation*/
  /*********************************/
  .form_info_client,
  .form_info_facultatif {
    width: 100%;
  }

  /*********************************/
  /* Restaurant*/
  /*********************************/
  .textCourriel__item3__text {
    font-size: 2.5rem;
  }
  .textCourriel__item3__Courriel {
    font-size: 1.8rem;
  }
  .textAdresse__item1__text,
  .textNumero__item2__text,
  .textCourriel__item3__text {
    font-size: 2rem;
  }
  .textAdresse__item1__adresse,
  .textNumero__item2__numero,
  .textCourriel__item3__courriel {
    font-size: 1.5rem;
  }
  /*********************************/
  /* Commande*/
  /*********************************/
  .flexCommande {
    display: block;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 3rem;
    overflow: hidden;
  }
  td:nth-of-type(even) {
    padding: 0 5rem 0 5rem;
  }
  td:nth-last-child(1) {
    padding: 0 2rem 0 0;
  }
  .detail {
    width: 100%;
    margin: 0 0 5rem 0;
  }

  /*********************************/
  /* footer*/
  /*********************************/
  .social-links {
    position: relative;
    top: -0.5rem;
  }
}

@media screen and (max-width: 570px) {
  /*********************************/
  /* Header */
  /*********************************/

  header h1 {
    font-size: 3.5;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  /*********************************/
  /* NAVIGATION*/
  /*********************************/
  header img {
    width: 30%;
  }
  .navbar__item {
    height: 3rem;
  }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    z-index: 1;
    width: 100%;
    max-width: 130rem;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -100rem;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #fff;
    gap: 0;
  }

  .navbar__menu.active {
    background: rgba(255, 255, 255, 0.9);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 2.5rem;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__links {
    color: #000;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 5rem;
    margin: 0;
  }
  .navbar__logo {
    font-size: 3.5rem;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /*********************************/
  /* Index*/
  /*********************************/

  .grid {
    display: grid;
    column-gap: 4rem;
  }
  .grid__2__cols {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .grid__2__cols__content {
    margin: 5rem 0 3rem 0;
  }
  .grid__2__cols__content h2 {
    margin: 0 0 1rem 0;
    font-weight: 600;
    font-size: 3rem;
  }
  .grid__3__cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__3__cols__item__content:not(:last-child) {
    margin: 0 0 4rem 0;
  }

  #grid__3__cols__item_content_imgName1 img,
  #grid__3__cols__item_content_imgName2 img,
  #grid__3__cols__item_content_imgName3 img,
  #grid__3__cols__item_content_imgName4 img,
  #grid__3__cols__item_content_imgName5 img,
  #grid__3__cols__item_content_imgName6 img {
    border-radius: 50%;
    width: 25%;
  }

  /*********************************/
  /* Réservation*/
  /*********************************/
  .form_info_client,
  .form_info_facultatif {
    width: 100%;
  }
  /*********************************/
  /* Restaurant*/
  /*********************************/
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.6rem;
  }
  #ImageSmPageRestaurant1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #ImageSmPageRestaurant2 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #ImageBigPageRestaurant3 {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  #ImageBigPageRestaurant4 {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  #ImageSmPageRestaurant5 {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  #ImageSmPageRestaurant6 {
    grid-column: 4/5;
    grid-row: 6/7;
  }
  .map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 3rem;
    height: 0;
    overflow: hidden;
  }

  /*********************************/
  /* Commande*/
  /*********************************/
  .flexCommande {
    display: block;
  }
  table {
    width: 100%;
  }
  td:nth-of-type(even) {
    padding: 0 5rem 0 5rem;
  }
  td:nth-last-child(1) {
    padding: 0 2rem 0 0;
  }
  .detail {
    width: 100%;
    margin: 0 0 5rem 0;
  }

  /*********************************/
  /* Footer*/
  /*********************************/
  .flexfooter__item {
    display: block;
    padding: 0 0 3rem 0;
    border-bottom: 3px solid #000;
  }
  .flexfooter__SocialLink {
    margin: 2rem 0 0 0;
  }

  .flexfooter__content {
    display: block;
    padding: 3rem 0 0 0;
  }
  .flexfooter__content p {
    margin: 2rem 0 0 0;
  }
  .flexfooter__content__item p {
    position: relative;
    left: -8.2rem;
  }
}
