@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto+Slab&family=Rubik:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Slab&family=Rubik:wght@400;500;600;700&display=swap");

/*********************************/
/* GENERAL */
/*********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}

/*********************************/
/* Header */
/*********************************/

header h1 {
  font-size: 3.5;
}

h1 {
  font-size: 4.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 3.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 0;
}
h3 {
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0;
}
p {
  margin: 0;
}
header div a {
  text-decoration: none;
}
nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
}

.header {
  background-color: #0f8492;
  color: #fff;
  position: relative;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

header img {
  width: 100%;
}

/*********************************/
/* NAVIGATION */
/*********************************/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  z-index: 1;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.navbar__item {
  height: 20rem;
}

.navbar__links:link,
.navbar__links:visited {
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.3 ease;
  text-decoration: underline;
  color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
}

.navbar__links:hover,
.navbar__links:active {
  transition: all 0.3 ease;
  text-decoration: none;
}
.navbar__btn {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.navbar__logo {
  font-size: 4.5rem;
  font-weight: 600;
  color: #fff;
  cursor: none;
}

.button:link,
.button:visited {
  text-decoration: underline;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #736a90;
  color: #fff;
  transition: all 0.3s ease;
}
.button:hover,
.button:active {
  transition: all 0.3 ease;
  text-decoration: none;
}
/*********************************/
/* Index */
/*********************************/
.index_section1 {
  margin: 8rem 0 8rem 0;
}
.index_section2 {
  margin: 0 0 8rem 0;
}
.index_section2 h2 {
  margin: 0 0 3rem 0;
}
.index_section2 h3 {
  margin: 0 0 5rem 0;
  color: #777;
}
.index_section2 p {
  text-align: justify;
}
.grid {
  display: grid;
  column-gap: 4rem;
}
.grid__2__cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.grid__2__cols img {
  width: 100%;
}
.grid__2__cols__content h2 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 5rem;
}
.grid__2__cols__content p {
  text-align: justify;
  margin: 0 0 3rem 0;
  font-size: 2rem;
}

.grid__2__cols__content__link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid__3__cols {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid__3__cols__item__content {
  background-color: #e8e8e8;
  padding: 2rem;
  border-radius: 2rem;
}
.grid__3__cols__item__content {
  margin: 0 0 4rem 0;
}

#grid__3__cols__item_content_imgName1,
#grid__3__cols__item_content_imgName2,
#grid__3__cols__item_content_imgName3,
#grid__3__cols__item_content_imgName4,
#grid__3__cols__item_content_imgName5,
#grid__3__cols__item_content_imgName6 {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
}
#grid__3__cols__item_content_imgName1 p,
#grid__3__cols__item_content_imgName2 p,
#grid__3__cols__item_content_imgName3 p,
#grid__3__cols__item_content_imgName4 p,
#grid__3__cols__item_content_imgName5 p,
#grid__3__cols__item_content_imgName6 p {
  position: relative;
  left: 1.5rem;
}

#grid__3__cols__item_content_imgName1 img,
#grid__3__cols__item_content_imgName2 img,
#grid__3__cols__item_content_imgName3 img,
#grid__3__cols__item_content_imgName4 img,
#grid__3__cols__item_content_imgName5 img,
#grid__3__cols__item_content_imgName6 img {
  border-radius: 50%;
  width: 12%;
}

.link_Order_Icon,
.link_Booking_Icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 0.5rem;
}

.link_Order:link,
.link_Order:visited {
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  border: #000 solid 2px;
  background-color: #74a4b2;
  padding: 1rem;
  transition: all 0.3s;
}

.link_Booking:link,
.link_Booking:visited {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  border: #000 solid 2px;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.3s;
}

.link_Order:hover,
.link_Order:active {
  color: #333;
  background-color: #fff;
}

.link_Booking:hover,
.link_Booking:active {
  color: #fff;
  background-color: #0f8492;
}

/*********************************/
/* Réservation*/
/*********************************/

form {
  font-size: 2.5rem;
}

label {
  display: inline-block;
  margin: 0 0 1rem 0;
}

input,
select {
  border-radius: 3px;
  border: 1px solid #9c9c9c;
  padding: 1rem 1.5rem;
  font-size: 2rem;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin: 0 5px;
}

.form_info_client,
.form_info_facultatif {
  width: 78%;
}
.form_info_client {
  margin: 0 0 10rem 0;
}
.marg-bot {
  margin-bottom: 3rem;
  background-color: #f2fed5;
}
.champs-large {
  display: block;
  width: 100%;
}

.champs-etroit {
  display: block;
  max-width: 100px;
}

fieldset {
  margin-bottom: 3rem;
  padding: 2rem;
  border: 1px solid #c2c2c2;
}
fieldset legend {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #bcdd95;
  border-radius: 1rem;
  padding: 5px;
}
fieldset fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.btn {
  background-color: #0f8492;
  color: #fff;
}
fieldset legend {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.req {
  color: red;
}
*:required {
  background-color: #ffffca;
}
/*********************************/
/* Restaurant*/
/*********************************/

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.6rem;
}
#ImageSmPageRestaurant1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
#ImageSmPageRestaurant2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
#ImageBigPageRestaurant3 {
  grid-column: 3/5;
  grid-row: 1/3;
}
#ImageBigPageRestaurant4 {
  grid-column: 1/3;
  grid-row: 2/4;
}
#ImageSmPageRestaurant5 {
  grid-column: 3/4;
  grid-row: 3/4;
}
#ImageSmPageRestaurant6 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.gallery img {
  overflow: hidden;
}
.gallery img {
  /* display: block; */
  width: 100%;
}
.gallery img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
.textAdresse__item1 {
  margin: 0 0 3rem 0;
}

.textAdresse__item1__text,
.textNumero__item2__text,
.textCourriel__item3__text {
  font-size: 3rem;
  color: #000;
}
.textAdresse__item1__adresse,
.textNumero__item2__numero,
.textCourriel__item3__courriel {
  font-size: 2.4rem;
  color: #333;
}
.textAdresse__item1__text {
  margin: 0 0 2rem 0;
}
.textAdresse__item1__adresse {
  margin: 0 0 2rem 0;
}
.textNumero__item2 {
  margin: 0 0 3rem 0;
}
.textNumero__item2__text {
  margin: 0 0 2rem 0;
}
.textNumero__item2__numero {
  margin: 0 0 2rem 0;
}

.textNumero__item2__numero a {
  text-decoration: none;
  color: #333;
}

.textNumero__item2__numero a:hover,
.textNumero__item2__numero a:active {
  background-color: #74a4b2;
}

.textCourriel__item3 {
  margin: 0 0 3rem 0;
}
.textCourriel__item3__text {
  margin: 0 0 2rem 0;
}
.textCourriel__item3__courriel {
  margin: 0 0 2rem 0;
}

.textCourriel__item3__courriel a {
  text-decoration: underline;
  color: #333;
}
.textCourriel__item3__courriel a:hover {
  background-color: #74a4b2;
}
.map {
  width: 100%;
}

/*********************************/
/* Commande*/
/*********************************/

section h1 {
  margin: 5rem 0 5rem 0;
}
.flexCommande {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
table {
  width: 66%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 3rem;
  overflow: hidden;
}
td {
  padding: 1rem;
}
td:nth-of-type(even) {
  padding: 0 20rem 0 20rem;
}
td:nth-last-child(1) {
  padding: 0 8rem 0 0;
}

tr:nth-of-type(odd) {
  background-color: #eaeaea;
  border-radius: 5rem;
  overflow: hidden;
}
.Table_titre {
  text-align: left;
  margin: 0 0 2rem 0;
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
}
.Table_Entrees,
.Table_Plat {
  margin: 0 0 10rem 0;
}
.Table_Autre {
  margin: 0 0 5rem 0;
}
.detail {
  background-color: #e5e5e5;
  width: 34%;
  padding: 2rem;
  margin: 22.5rem 0 0 0;
}
.detail__item1,
.detail__item2,
.detail__item3 {
  display: flex;
  justify-content: space-between;
}
.detail h2 {
  margin: 0 0 3rem 0;
}
.detail__item__text1,
.detail__item__text2,
.detail__item__text3 {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
}

.detail__item__text1,
.detail__item__text2 {
  margin: 0 0 3rem 0;
}
.detail__item2 {
  border-bottom: 1px solid #000;
}
.detail__item3 {
  margin: 2.5rem 0 0 0;
}
.detail__item4 {
  margin: 3rem 0 0 0;
}
.detail__item4 a {
  text-decoration: none;
  padding: 1rem 3rem 1rem 3rem;
}
.detail__item4 a:visited,
.detail__item4 a:link {
  background-color: #000;
  color: #fff;
}
.detail__item4 a:hover,
.detail__item4 a:active {
  background-color: #333;
  color: #fff;
}
/*********************************/
/* footer*/
/*********************************/
.footer {
  color: #fff;
  background-color: #736a90;
}
.footerSectionIndex {
  padding: 4rem 0;
}
.flexfooter__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 3rem 0;
  border-bottom: 3px solid #000;
}
.flexfooter__txt {
  display: flex;
  align-items: center;
}
.Flexfooter_txt_position {
  position: absolute;
  left: 4rem;
}

.flexfooter__SocialLink {
  display: flex;
}
.social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  position: relative;
  left: 1rem;
  list-style: none;
}

.flexfooter__content {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 0 0;
}
.flexfooter__content strong {
  text-decoration: underline;
}
.flexfooter__content__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  position: relative;
  left: 8rem;
}
.list-icon,
.social-icon {
  width: 3rem;
  height: 3rem;
  color: #0f8492;
}
